body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

ul {
	padding: 10px;
}

.self {
	display: inline-block;
	transition: .35s;
}

.self:hover {
	transform: scale (1.5, 1.5);
	color: white;
	cursor: crosshair;
}

hr {
	margin-bottom: 25px;
	height: 2px;
	background-color: orange;
	border: none;
}

.button-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 4px solid orange;
	border-top: 3px solid skyblue;
	border-radius: 50%;
	background-color: white;
}

#color {
	height: 100px;
	border-radius: 30%;
	background-color: yellow;
}

#color:active {
	background-color: skyblue;
}

#place {
	height: 100px;
	border-radius: 30%;
	background-color: yellow;
}

#ritual {
	height: 100px;
	border-radius: 30%;
	background-color: yellow;
}

.end {
	margin-top: 30px;
}